package dashboard

import (
	"github.com/jpecheverryp/budget-app/service"
	"github.com/jpecheverryp/budget-app/view/component"
	"github.com/jpecheverryp/budget-app/view/layout"
)

templ Show(accounts []service.Account) {
	@layout.Base() {
		<div>
			<h2>Dashboard Page</h2>
			<section class="flex">
				@component.Sidebar(accounts)
				<p>DASH HERE</p>
			</section>
		</div>
	}
}
