package component

templ Nav() {
	<nav>
		<ul>
			<li><a href="/"><h1>Budget App</h1></a></li>
		</ul>
		<ul>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</nav>
}
