package component

import (
	"fmt"
	"github.com/jpecheverryp/budget-app/service"
)

func getAccount(id int) string {
	return fmt.Sprintf("account-%d", id)
}

func getAccountLink(id int) string {
	return fmt.Sprintf("/dashboard/accounts/%d", id)
}

templ AccountItem(account service.Account) {
	<li id={ getAccount(account.ID) }>
		<a hx-get={ getAccountLink(account.ID) } hx-target="main" hx-push-url="true">{ account.AccountName }</a>
	</li>
}
