package layout

import "github.com/jpecheverryp/budget-app/view/component"

templ Base() {
	<html>
		<head>
			<title>Budget App</title>
		</head>
		<body>
			@component.Nav()
			{ children... }
		</body>
	</html>
}
