package layout

import "github.com/jpecheverryp/budget-app/view/component"

templ Base() {
	<html>
		<head>
			<title>Budget App</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
		</head>
		<body class="container">
			@component.Nav()
			{ children... }
		</body>
	</html>
}
